body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.logo {
  height: 50px;
}
header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
  text-decoration: underline;
}
section {
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*gy01du*_ga*NDYxNjAzNTY3My4xNjg3MTU4NDMx*_ga_3LRZM6TM9L*MTY4NzE1ODY3MC4xLjEuMTY4NzE2MjY1My4wLjAuMA..);
}

.mission {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-month img {
  width: 300px;
  height: 200px;
}

.tea-month-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.img-container img {
  margin-left: 25px;
  width: 300px;
  margin-bottom: 10px;
  height: 200px;
}
.img-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.img-container1 img {
  margin-left: 25px;
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
}
.locations-container {
  margin-top: 50px;
  width: 1200px;
  height: 500px;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1ip599g*_ga*NDYxNjAzNTY3My4xNjg3MTU4NDMx*_ga_3LRZM6TM9L*MTY4NzE1ODY3MC4xLjEuMTY4NzE2MjY1My4wLjAuMA..);
}
.locations-container h3 {
  display: flex;
  justify-content: center;
}
.locations-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 300px;
  margin: 40px;
}
.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 1200px;
}
.footer p {
    display: flex;
    justify-content: center;
    margin-right: 220px;
}

.endpage p{
  margin-left: 50px;
}